/dataset/general-dataset
/dataset/tensorflow-dataset/models/model/train/*
/dataset/tensorflow-dataset/models/model/eval/*
/dataset/new-tensorflow-dataset/models/model/train/*
/dataset/new-tensorflow-dataset/models/model/eval/*
/dataset/new-tensorflow-dataset/models/model/export/*
/dataset/new-tensorflow-dataset/models/ssd/train/*
/dataset/new-tensorflow-dataset/models/ssd/eval/*
/dataset/new-tensorflow-dataset/models/ssd/export/*
/dataset/new-dataset/google-images-data/*
/dataset/total-dataset/images/*
/dataset/total-dataset/tensorflow/train.record
