/dataset/general-dataset
/dataset/tensorflow-dataset/models/model/train/*
/dataset/tensorflow-dataset/models/model/eval/*
/dataset/new-tensorflow-dataset/data/train.record
/dataset/new-tensorflow-dataset/models/model/train/*
/dataset/new-tensorflow-dataset/models/model/eval/*
/dataset/new-tensorflow-dataset/models/model/export/*
/dataset/new-tensorflow-dataset/models/ssd/train/*
/dataset/new-tensorflow-dataset/models/ssd/eval/*
/dataset/new-tensorflow-dataset/models/ssd/export/*
/dataset/new-dataset/google-images-data/*
/dataset/total-dataset/images/*
/dataset/total-dataset/tensorflow/train.record
/tensorflow-dataset-ssd/models/model/train/*
/tensorflow-dataset-ssd/models/model/eval/*
/detector-models/rfcnmodel/models/rfcn/eval/*
/detector-models/rfcnmodel/models/rfcn/train/*
/detector-models/rfcnmodel/models/rfcn/export/*
/detector-models/rfcnmodel/models/rfcn/export2/*
/detector-models/rfcnmodel/data/train.record
/detector-models/rfcnmodel/data/test.record
/detector-models/ssdmodel/data/train.record
/detector-models/ssdmodel/data/test.record
/detector-models/ssdmodel/models/ssd/eval/*
/detector-models/ssdmodel/models/ssd/train/*
/detector-models/ssdmodel/models/ssd/export/*
/dataset/new-tensorflow-dataset/data/train.record
